.explore {
  .services-count {
    font-family: roboto-bold;
    font-size: 0.9rem;
    color: $clr3;
  }

  h1 {
    font-family: roboto-bold;
    font-size: 1.8rem;
    color: $clr2;
    margin-top: 30px;
  }

  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: work-sans;

    .sort-by,
    span {
      font-size: 16px;
      line-height: 120%;
      font-family: work-sans;
      display: inline-block;
      white-space: nowrap;
    }
    span {
      font-weight: 400;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .select-wrapper {
      fieldset {
        outline: none;
        border: none;
      }
    }
    em,
    div {
      font-weight: 700;
    }
  }
  .select-wrapper {
    div {
      font-family: work-sans;
    }
    em {
      font-family: work-sans;
      font-style: normal;
      color: #222325;
    }
  }

  .filter-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: #fff;
    em,
    div {
      font-weight: 500;
    }
    .select-wrapper {
      display: flex;
      align-items: center;
    }
    span {
      font-size: 16px;
      line-height: 120%;
      font-family: work-sans;
      display: inline-block;
    }
  }
  .filters-div {
    align-items: center;
    .budget-div {
      position: relative;

      margin: 0 6px;
      .budget-select {
        cursor: pointer;
        line-height: 1.4375em;
        border-radius: 4px;
        color: #222325;
        font-family: work-sans;
        font-style: normal;
        border: 1px solid #dadbdd;
        padding: 8px 15px;
        width: 120px;
        &:hover {
          border: 1px solid #222325;
        }
        transition: border-color 0.12s cubic-bezier(0.22, 0.61, 0.36, 1);
        span {
          transform: rotate(-180deg);
          transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
          &.open {
            transform: rotate(0deg);
          }
        }
      }
      .budget-content {
        position: absolute;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
<<<<<<< HEAD
        transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
=======
        transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
>>>>>>> c090a46b2d591b8019d3e7c0bb288832862efde2
        &.open {
          opacity: 1;
          pointer-events: all;
        }
        border: 1px solid #dadbdd;
        line-height: 22px;
        font-size: 14px;
        top: 100%;
        margin-top: 10px;
        border-radius: 4px;
        background-color: #fff;
        color: #62646a;
        box-shadow: 0 12px 18px 0.2;
        .budget-filter {
          padding: 12px 24px;
          transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .price-filter {
          gap: 10px;
          .input-wrapper {
            margin-bottom: 12px;
            label {
              margin-bottom: 4px;
              font-size: 1rem;
              line-height: 24px;
              color: #62646a;
              font-weight: 600;
            }
            input {
              height: 40px;
              width: 120px;
              border: 1px solid #c5c6c9;
              color: #404145;
              padding: 8px 12px;
              &:focus {
                outline: none;
              }
            }
          }
        }
        .budget-btns {
          padding: 16px 24px;
          justify-content: space-between;
          .close-btn {
            border: 0;
            color: #95979d;
            font-size: 1rem;
            background: inherit;
          }
          .btn {
            height: 30px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}
