.explore {
  .services-count {
    font-family: roboto-bold;
    font-size: 0.9rem;
    color: $clr3;
    margin-top: 30px;
  }

  h1 {
    font-family: roboto-bold;
    font-size: 1.8rem;
    color: $clr2;
    margin-top: 30px;
  }

  &-hero {
    background-image: url("../../assets/img/explore-hero.jpg");
    height: 70vh;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-hero-p {
    margin: 0;
    display: flex;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    width: 20ch;
    font-size: 40px;
    text-shadow: 0 0 12px #5d5b5b;
  }
}
