.explore {
  .services-count {
    font-family: roboto-bold;
    font-size: 0.9rem;
    color: $clr3;
  }
  .category-headline{
    text-transform: capitalize;
  }

  h1 {
    font-family: roboto-bold;
    font-size: 1.8rem;
    color: $clr2;
    margin-top: 30px;
  }

  .inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: work-sans;
    @media (max-width: 430px) {
      flex-direction: column;
      margin-top: 30px;
    }
    .sort-by,
    span {
      font-size: 16px;
      line-height: 120%;
      font-family: work-sans;
      display: inline-block;
      white-space: nowrap;
    }
    span {
      font-weight: 400;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 150px;
    }
    .select-wrapper {
      fieldset {
        outline: none;
        border: none;
      }
      .sort-form {
        padding: 0;
        margin: 0;
      }
      .sort-by-select {
        padding: 0;
        margin: 0;
      }
    }
    em,
    div {
      font-weight: 700;
    }
  }
  .select-wrapper {
    div {
      font-family: work-sans;
      svg{
        transition: .3s all;
      }
    }
    em {
      font-family: work-sans;
      font-style: normal;
      color: #222325;
    }
  }

  .filter-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: #fff;
    display: flex;
    padding: 10px 0;

    em,
    div {
      font-weight: 500;
      svg{
        transition: .3s all;
      }
    }
    .select-wrapper {
      display: flex;
      align-items: center;
    }
    span {
      font-size: 16px;
      line-height: 120%;
      font-family: work-sans;
      display: inline-block;
    }
  }
  .MuiFormControl-root {
    width: 100%;
  }
  .filters-div {
    align-items: flex-end;
    @media (max-width: 430px) {
      justify-content: space-between;
    }
    .budget-div {
      position: relative;
      margin: 0 6px;
      .budget-select {
        cursor: pointer;
        line-height: 1.4375em;
        height: 35px;
        border-radius: 4px;
        color: #222325;
        font-family: work-sans;
        font-style: normal;
        border: 1px solid #dadbdd;
        padding: 8px 10px;
        width: 120px;
        display: flex;
        align-items: center;
        &:hover {
          border: 1px solid #222325;
        }
        transition: border-color 0.12s cubic-bezier(0.22, 0.61, 0.36, 1);
        span {
          &.arrow {
            color: gray;
            transform: rotate(0deg);
            transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
            &.open {
              transform: rotate(180deg);
            }
          }
        }
      }
      .budget-content {
        position: absolute;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1),
          opacity 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
        &.open {
          opacity: 1;
          pointer-events: all;
        }
        border: 1px solid #dadbdd;
        line-height: 22px;
        font-size: 14px;
        top: 100%;
        margin-top: 10px;
        border-radius: 4px;
        background-color: #fff;
        color: #62646a;
        box-shadow: 0 12px 18px 0.2;
        .budget-filter {
          padding: 12px 24px;
          transition: all 0.24s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        .price-filter {
          gap: 10px;
          .input-wrapper {
            margin-bottom: 12px;
            label {
              margin-bottom: 4px;
              font-size: 1rem;
              line-height: 24px;
              color: #62646a;
              font-weight: 600;
            }
            input {
              height: 40px;
              width: 120px;
              border: 1px solid #c5c6c9;
              color: #404145;
              padding: 8px 12px;
              &:focus {
                outline: none;
              }
            }
          }
        }
        .budget-btns {
          padding: 16px 24px;
          justify-content: space-between;
          .close-btn {
            border: 0;
            color: #95979d;
            font-size: 1rem;
            background: inherit;
          }
          .btn {
            height: 30px;
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 430px) {
    flex-direction: column;
    gap: 10px;
  }
  button {
    &.clear-btn {
      padding:0;
      display: flex;
      justify-content: flex-end;
      background-color: inherit;
      border: 0;
      color: #222325;
      font-size: 1rem;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
    }
  }
}
