@keyframes change-background {
    0% {
        opacity: 0;
    }
    3% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    28% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes change-background-color {
    0% {
        background-color: #b64761;
    }
    3% {
        background-color: #7d1b01;
    }
    25% {
        background-color: #7d1b01;
    }
    28% {
        background-color: #003813;
    }
    50% {
        background-color: #003813;
    }
    53% {
        background-color: #550e1f;
    }
    75% {
        background-color: #550e1f;
    }
    78% {
        background-color: #b64761;
    }
    100% {
        background-color: #b64761;
    }
}
