body {
  margin: 0;
  padding: 0;
  color: #62646a;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  .main-content {
    position: relative;
  }
}
