<<<<<<< HEAD
body {
  margin: 0;
  padding: 0;
  color: #62646a;
  position: relative;
}

#root {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  .main-content {
    position: relative;
  }
}
=======
*{
    box-sizing: border-box;
}


body{
    background-color: white;
    margin: 0;
}
>>>>>>> 588e95596a2077a58b1964616ab271bccff4fd76
