* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  color: #62646a;
  position: relative;
  background-color: rgb(255, 255, 255);
}

#root {
  width: 100%;
  height: 100%;
}

.main-wrapper {
  width: 100%;
  height: 100%;
  .main-content {
    position: relative;
  }
}

.equal-padding {
  padding: 0 $layoutPadding;
}

.max-width-container{
  width: padded-break-narrow;
}
