.about-seller {
  &-header {
    color: #404145;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 28px;
  }

  .seller-stats{
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    border: 1px solid #dadbdd;
    padding: 24px;
    margin-bottom: 64px;

    .seller-desc{
      padding-top: 15px;
      border-top: 1px solid #dadbdd;
    }

    .card{
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 20px;
      & > *:first-child{
        color: #82858c;
        font-weight: 500;
        line-height: 1.6875em;
      }
    }
  }

  .seller-info {
    display: flex;
    flex-wrap: wrap;
    line-height: 130%;
    padding-bottom: 24px;
    .owner-img {
      height: 110px;
      width: 110px;
    }
  }

  .seller-name-level-rate {
    margin-inline-start: 15px;
  }
}
