.about-seller {
  &-header {
    color: #404145;
    padding-bottom: 25px;
  }

  .seller-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .owner-img {
      height: 110px;
      width: 110px;
    }
  }

  .seller-name-level-rate {
    margin-inline-start: 15px;
  }
}
