.hero-container {
    background-color: rgb(0, 89, 255);
}
.hero-content-container {
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .hero-content i {
        font-family: lobster;
    }

    @include for-extra-wide-layout {
        height: 680px;
        width: 1300px;
        margin: 0 auto;
        .hero-content {
            width: 650px;

            font-size: 48px;
        }
    }
}
