.hero-container {
    background-color: rgb(78, 140, 255);
    .background-images {
        width: 100%;

        height: 680px;
        bottom: 0;
        position: absolute;
        .background {
            padding: 0 $layoutPadding;
            height: 100%;
            display: flex;
            justify-content: flex-end;
        }
        .background .seller-name {
            color: white;
            align-self: flex-end;
            z-index: 5;
            margin-block-end: em(20px);
        }
        .background .seller-skill {
            font-weight: 700;
        }
        .background img {
            right: $layoutPadding;
            bottom: 0;
            position: absolute;
            height: 85%;
        }
        @include for-extra-wide-layout {
            // width: 680px;
        }
    }
}
.hero-content-container {
    padding: 0 $layoutPadding;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .hero-content {
        font-family: roboto-bold;
    }
    .hero-content i {
        font-weight: 400;
        font-family: lobster;
        margin-inline-start: em(5px);
    }

    @include for-wide-layout {
        height: 680px;
        .hero-content {
            width: 650px;
            font-size: rem(42px);
        }
    }
    form {
        height: 48px;
        margin-block-end: 20px;
        svg {
            position: absolute;
            top: -0.1em;
        }
    }

    .hero-popular-category {
        display: flex;
        gap: 10px;

        font-size: 1.2rem;

        button {
            padding: 4px 8px;
            background-color: inherit;
            border: 1px solid white;
            border-radius: 2em;
            color: white;
            transition: 0.2s;
            cursor: pointer;
        }
        button:hover {
            background-color: white;
            color: #404145;
        }
    }
}
