.hero-container {
    margin-bottom: 10vh;
    position: relative;
    animation-name: change-background-color;
    animation-iteration-count: infinite;
    animation-duration: 28s;
    .background-images {
        width: 50%;
        right: 0;
        height: 680px;
        bottom: 0;
        position: absolute;
        .background {
            padding: 0 $layoutPadding;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            pointer-events: none;
        }
        .back1 {
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
        }
        .back2 {
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 7s;
            animation-iteration-count: infinite;
        }
        .back3 {
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 14s;
            animation-iteration-count: infinite;
        }
        .back4 {
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 21s;
            animation-iteration-count: infinite;
        }
        .background img {
            display: none;
            filter: drop-shadow(0rem 0rem 8rem rgba(255, 255, 255, 0.2));
            @include for-wide-layout {
                display: inline;
                right: 0;
                bottom: 0;
                position: absolute;
                height: 52vh;
            }

            @include for-extra-wide-layout {
                left: 0;
                height: 63vh;
            }
        }
    }
}
.hero-content-container {
    padding: 0 $layoutPadding;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto-bold;
    height: 40vh;
    transition: 0.5s;

    .hero-content {
        width: 700px;
    }
    .hero-content h1 {
        // font-size: rem(40px);
        width: 500px;

        font-size: 5vh;
        margin-block-start: rem(80px);
        margin-block-end: rem(15px);
    }
    .hero-content i {
        font-weight: 400;
        font-family: lobster;
        margin-inline-start: em(5px);
    }

    @include for-wide-layout {
        justify-content: space-between;
        height: 65vh;

        .hero-content {
            width: 550px;
        }
        .hero-content h1 {
            width: 600px;

            font-size: rem(42px);
            margin-block: rem(40px);
        }
    }
    @include for-extra-wide-layout {
        // height: 680px;
        height: 80vh;
        .hero-content {
            width: 680px;
        }
        .hero-content h1 {
            font-size: rem(48px);
        }
    }
    form {
        margin-block-end: 20px;
        height: 48px;
        font-size: rem(32px);

        svg {
            position: absolute;
            top: -0.1em;
        }
    }

    .hero-popular-category {
        display: none;
        font-size: 1.2rem;
        @include for-wide-layout {
            display: flex;
            gap: 10px;
        }

        .btn-popular-category {
            padding: 4px 8px;
            background-color: inherit;
            border: 1px solid white;
            border-radius: 2em;
            color: white;
            transition: 0.2s;
            cursor: pointer;
        }
        .btn-popular-category:hover {
            background-color: white;
            color: #404145;
        }
    }
    .seller-name {
        display: none;
        color: white;
        font-size: 1rem;
        align-self: flex-end;
        z-index: 5;
        margin-block-end: em(20px);
        @include for-wide-layout {
            display: inline;
            position: relative;
        }

        .seller1 {
            position: absolute;
            width: 12rem;
            text-align: right;
            right: 0;
            bottom: 0px;
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 0s;
            animation-iteration-count: infinite;
        }
        .seller2 {
            position: absolute;
            width: 12rem;
            text-align: right;
            right: 0;
            bottom: 0px;
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 7s;
            animation-iteration-count: infinite;
        }
        .seller3 {
            position: absolute;
            width: 12rem;
            text-align: right;
            right: 0;
            bottom: 0px;
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 14s;
            animation-iteration-count: infinite;
        }
        .seller4 {
            position: absolute;
            width: 12rem;
            text-align: right;
            right: 0;
            bottom: 0px;
            opacity: 0;
            animation-name: change-background;
            animation-duration: 28s;
            animation-delay: 21s;
            animation-iteration-count: infinite;
        }
    }
}
