.carousel {
  overflow: hidden;
  position: relative;
  
  .indicators {
    position: absolute;
    left: 50%;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .btn-by-idx {
    bottom: 0%;
    gap: 5px;
  }

  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
}
