.carousel {
  overflow: hidden;
  position: relative;
  .btn-by-idx,
  .indicators {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;
  }
  .btn-by-idx{
    bottom: 0%;
    justify-content: center;
    gap: 5px;

    button{
      border-radius: 50%;
      height: 10px;
      width: 10px;
      padding: 0 2px;
      border: 1px solid rgb(99, 98, 98);
      background-color: rgb(241, 238, 238);
      transition: transform .3s;
    }
  }
  .indicators {
    top: 50%;
    justify-content: space-between;
  }
  
  .indicators > span {
    margin: 5px;
    color: white;
  }
  
  button.active {
    background-color: rgb(58, 59, 58);
    transform: scale(1.5);
    color: #fff;
  }
  .inner {
    white-space: nowrap;
    transition: transform 0.3s;
  }
  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 197px;
    background-size: cover;
    color: #fff;
  }
}




