.orders-section {
  width: 100%;
  background-color: #fff;
  .orders-header {
    h1 {
      text-align: center;
      margin: 0;
      font-size: 2rem;
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      color: #4a73e8;
    }
  }
}
