.gig-preview{

    .rate-wrapper{
        padding: 10px 0;
    }
    .gig-rating{
        display: flex;
        align-items: center;
        height: 15px;
        color: rgb(255, 217, 0);
    }
    .star{
        width: 15px;
        height: 15px;
        margin-right: 5px;
        vertical-align: -0.16em;
    }
}