.user-img {
    border-radius: 50%;
    background-size: cover;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $clr1;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        text-transform: capitalize;
    }
}
