.user-msg {
  background-color: #1dbf73;
  color: white;
  font-family: work-sans;
  padding: 15px 10px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);

  button {
    position: absolute;
    top: 0;
    left:0;
    background-color: #1dbf7300;
    color: white;
    border: none;
    padding-inline-end: 10px;
  }
}
