.user-board {
  background-color: $clr7;
  min-height: 90vh;
}

.user-board-content {
  .user-main {
    padding-block: 20px;
    align-items: flex-start;
    display: flex;
    gap: 20px;
    font-family: work-sans;
  }
  .profile-details-container {
    display: none;
    @include for-order-normal-layout {
      display: block;
      max-width: 300px;
    }
  }
  .user-details {
    width: 300px;
    background-color: #fff;
    .user-img {
      width: 100px;
      height: 100px;
      margin-bottom: 15px;
    }
    .user-stats-wrapper {
      padding-bottom: 15px;
    }
    .user-info-wrapper {
      padding-top: 15px;
    }
  }
  .seller-details-container {
    background-color: #fff;
  }
}
