@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: Lobster;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}
